Validación XML - DTD I/Ejercicio 2/liga.dtd

<!-- 
Nombre: Kamal 
Curso: 1ยบ DAM 
Fecha: 3/04/2025 
Ejercicio 2
-->

<!ELEMENT liga (jugador+)>
<!ELEMENT jugador (nombre, apellidos, equipo, edad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT equipo (ciudad, presidente)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT presidente (nombrePresidente, apellidosPresidente)>
<!ELEMENT nombrePresidente (#PCDATA)>
<!ELEMENT apellidosPresidente (#PCDATA)>
<!ELEMENT edad (#PCDATA)>