Validación XML - DTD II/Ejercicio 2/EquiposNBA.dtd

<!-- 
Nombre: Kamal
Curso: 1ยบ DAM 
Fecha: 3/04/2025 
Ejercicio 2
-->

<!ELEMENT EquiposNBA (equipo | nombre)*>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT equipo (titulos, posicion, quinteto)>
<!ATTLIST equipo conferencia CDATA #REQUIRED>
<!ELEMENT titulos (#PCDATA)>
<!ELEMENT posicion (#PCDATA)>
<!ELEMENT quinteto (#PCDATA)>
