Validación XML - DTD II/Ejercicio 3/panel.dtd

<!ELEMENT panel (aeropuerto, vuelo+)>
<!ATTLIST panel fecha CDATA #REQUIRED>

<!ELEMENT aeropuerto (#PCDATA)>

<!ELEMENT vuelo (diario?, origen, destino, hora-salida, hora-llegada)>
<!ATTLIST vuelo 
    codigo ID #REQUIRED
    estado (C | E | R) "E">

<!ELEMENT diario EMPTY>
<!ELEMENT origen (#PCDATA)>
<!ELEMENT destino (#PCDATA)>
<!ELEMENT hora-salida (#PCDATA)>
<!ELEMENT hora-llegada (#PCDATA)>
